<!DOCTYPE html>
<html lang="zh-tw">
   <head>
    <title>無人商店註冊網站</title>
   </head>
   <!-- body -->
   <body style="background-color: gainsboro; font-size: 18px;">
    <form method="POST">
    <h1>一</h1>
    <div style="display: inline-block">名字:</div><input name="name" , style="border: 1px solid #ddd;height:35px ; width:230px">
    <br> 
    <div　 style="display: inline-block">年齡:</div><input name='age' , type="number" , style="border: 1px solid #ddd;height:35px ; width:230px;">
    <br>
    <div  style="display: inline-block">婚姻狀況:</div>
    <select name="MARITAL" style="border: 1px solid #ddd;height:35px ; width:230px;">
        <option value="U" selected>選擇</option>
        <option value="A">已婚</option>
        <option value="B">未婚</option>
    </select>
    <br>
    <div　 style="display: inline-block">年收入:</div>
    <select name="INCOME" style="border: 1px solid #ddd;height:35px ; width:230px;">
        <option value="None" selected>選擇</option>
        <option value="Under 15K">15K以下</option>
        <option value="15-24K">15-24K</option>
        <option value="25-34K">25-34K</option>
        <option value="35-49K">35-49K</option>
        <option value="50-74K">50-74K</option>
        <option value="75-99K">75-99K</option>
        <option value="100-124K">100-124K</option>
        <option value="125-149K">125-149K</option>
        <option value="125-149K">125-149K</option>
        <option value="125-149K">125-149K</option>
        <option value="150-174K">150-174K</option>
        <option value="175-199K">175-199K</option>
        <option value="175-199K">200-249K</option>
        <option value="250K+">250K+</option>
    </select>
    <br>
    <div　 style="display: inline-block">家庭狀況:</div>
    <select name="HH_COMP" style="border: 1px solid #ddd;height:35px ; width:230px;">
        <option value="Unknown" selected>選擇</option>
        <option value="Single male">單身男</option>
        <option value="Single Female">單身女</option>
        <option value="2 Adults Kids">已婚有小孩</option>
        <option value="2 Adults No Kids">已婚無小孩</option>
    </select>
    <div>
    
    <button type="submit" style="border: 1px solid #ddd;height:35px ; width:230px;">送出</button>    
</form>
    
   </body>
</html>

